<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height:100%">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-pie-chart"></i>
    </div>
    <div class="sidebar-brand-text mx-2">SMS Group</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/report">
      <i class="fa fa-table"></i>
      <span>Report</span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/readme">
      <i class="fa fa-file-text-o"></i>
      <span>Read Me</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="sideBarToggle()"></button>
  </div>

</ul>
<!-- End of Sidebar -->