.header-navbar-profile-pic-custom {
    display: inline-block;
}
.header-navbar-profile-pic-custom img {
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}