/* You can add global styles to this file, and also import other style files */

.p-datatable .p-sortable-column.p-highlight {
    background: #fd710b;
    color: #ffffff;
}

.p-datatable .p-sortable-column.p-highlight:hover {
    background: #fd710b;
    color: #ffffff;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #fd710b;
    border-color: #fd710b;
    color: #ffffff;
  }